/* line 1, ../assets/css/resources/front-page.scss */
.front-page--right {
  height: 100%;
  width: 50%;
  padding: 16px;
  position: relative;
  display: block;
  float: left;
  z-index: 2;
  text-align: center;
  display: block;
}

/* line 12, ../assets/css/resources/front-page.scss */
.front-page--right-inner {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

/* line 19, ../assets/css/resources/front-page.scss */
.front-page--right-title {
  font-size: 4rem;
  font-size: 4vw;
  font-weight: 300;
}

/* line 24, ../assets/css/resources/front-page.scss */
.front-page--right-action {
  margin-top: 40px;
}

/* line 27, ../assets/css/resources/front-page.scss */
.front-page--right-action h1 {
  padding: 16px;
  border-radius: 5px;
  display: inline-block;
  background-color: #FF5252;
  font-size: 1.3rem;
  font-weight: 400;
  box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s;
}

/* line 37, ../assets/css/resources/front-page.scss */
.front-page--right-button:hover {
  background-color: #FF8A80;
}

/* line 40, ../assets/css/resources/front-page.scss */
.front-page--right-message p {
  display: inline-block;
  font-size: 1rem;
  line-height: 25px;
}

/* line 45, ../assets/css/resources/front-page.scss */
.front-page--left {
  height: 100%;
  width: 50%;
  position: relative;
  display: block;
  float: left;
  z-index: 1;
}

/* line 54, ../assets/css/resources/front-page.scss */
.front-page--container {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0;
  display: block;
  clear: both;
  padding: 0px;
  margin: 0px;
}

/* line 65, ../assets/css/resources/front-page.scss */
.slider--container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

/* line 71, ../assets/css/resources/front-page.scss */
.slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 83, ../assets/css/resources/front-page.scss */
.slider--slide-1 {
  background-image: url(../noframe/assets/images/sample-kids.jpg);
}

/* line 86, ../assets/css/resources/front-page.scss */
.slider--slide-2 {
  background-image: url(../noframe/assets/images/sample-kids2.jpg);
}

/* line 89, ../assets/css/resources/front-page.scss */
.front-page--action {
  position: absolute;
  text-align: center;
  text-rendering: optimizeLegibility;
  bottom: 0;
  margin-bottom: 50px;
  display: block;
}
