.card__front {
  position: relative;
  margin: 0px 40px 40px 40px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.card__front:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  transform: scale(1.02);
}
.card__front-image {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.card__front-shape {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.card__front-shape > svg {
  top: 0;
  width: 100%;
  height: 100%;
  /* set height to pixels if you want angle to change with screen width */
}
.card__front-label {
  display: block;
  float: right;
  line-height: 24px;
}
.card__front-shape > span {
  position: absolute;
  padding: 8px;
  bottom: 0;
  left: 0;
  margin-left: 16px;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
.card__front-shape i {
  margin-right: 8px;
}
.card__front-content {
  display: block;
  z-index: 2;
  font-weight: 300;
}
.card__front-overlay {
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 16px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.card__front:hover .card__front-overlay {
  top: 0;
}
