html, body {
  height: 100%;
}
.padding-16 {
  padding: 16px;
}
.padding-40 {
  padding: 40px;
}
.padding-80-40 {
  padding: 80px 40px;
}
.padding-top-40 {
  padding-top: 60px;
}
.height--full {
  height: 100%;
}
