
.grid {
  width: 100%;
	margin: 0 auto;
}
.page--row {
  width: 100%;
}
.page--row::after {
    content: "";
    clear: both;
    display: block;
}
.page--column {
  padding: 16px;
  margin: 0;
  float: left;
}
.width-1 {
  width: 100%;
}
.width-1-2 {
  width: 50%;
}
.width-1-3 {
  width: 33.33%;
}
.width-2-3 {
  width: 66.66%;
}
.center {
  display: block;
  margin: 0 auto;
}
.content {
  max-width: 1200px;
}
