.menu--header-container {
  height: 100%;
  margin: 0 auto;
  z-index: 2;
}
.menu--header-menu {
  height: 70px;
  padding: 16px 40px;
  line-height: 38px;
  font-size: 16px;
  margin: 0;
}
.menu--header-menu > li {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 12px;
}
.menu-item {
  list-style: none;
}
.menu-item > a {
  color: #78909c;
}
.menu-item:hover a {
  color: #00B0FF;
}
.current-page-ancestor a, .current_page_item a {
  color: #00B0FF;
}
.menu--root li:first-child a {
  color: #00B0FF;
}
.menu--sidebar-container {
  padding-top: 28px;
}
.menu--sidebar-title {
  font-size: 1.5rem;
  font-weight: 300;
}
.menu--sidebar-menu > li {
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0 auto;
}
.menu--sidebar-menu a {
  display: block;
}
