.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  z-index: 900;
}
.modal--image-container {
  position: relative;
  margin: auto;
  display: block;
  width: auto;
  max-width: 80%;
  max-height: 100%;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.modal--button-close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 16px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  transition: 0.3s;
  padding: 8px;
}
.modal--button-close:hover, .modal--button-close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
@-webkit-keyframes zoom {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes zoom {
    from {opacity: 0}
    to {opacity: 1}
}
