.front-page--right {
  height: 100%;
  width: 50%;
  padding: 16px;
  z-index: 2;
  text-align: center;
  float: left;
}
.front-page--right-inner {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
.front-page--right-title {
  font-size: 4rem;
  font-size: 4vw;
  font-weight: 300;
}
.front-page--right-action {
  margin: 40px auto;
}
.front-page--right-action h1 {
  padding: 8px 24px;
  display: inline-block;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 3px;
  background-color: #00B0FF;
  text-transform: uppercase;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}
.front-page--right-button:hover {
  background-color: #0288D1;
}
.front-page--right-message p {
  display: inline-block;
  font-size: 1rem;
  line-height: 25px;
}
.front-page--left {
  height: 100%;
  width: 50%;
  float: left;
  z-index: 1;
}
// Slider
.slider--container {
  width: 100%;
  height: 100%;
  position: relative;
}
.slide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slider--slide-1 {
  background-image: url(../noframe/assets/images/sample-kids.jpg);
}
.slider--slide-2 {
  background-image: url(../noframe/assets/images/sample-kids2.jpg);
}
.front-page--action {
  position: absolute;
  text-align: center;
  text-rendering: optimizeLegibility;
  bottom: 0;
  margin-bottom: 50px;
  display: block;
}
.front-page--right-subaction {
  margin: 16px auto;
  line-height: 25px;
}
.front-page--right-subaction p {
  display: inline-block;
}
.front-page--right-subnav {
  font-weight: 500;
  color: #00B0FF;
}
.front-page--right-subnav:hover {
  color: #0288D1;
}
